.custom-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #d1d5db 0%, #d1d5db 75%, #e5e7eb 75%);
    border-radius: 999px;
    cursor: pointer;
  }

  .custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: url('../assets/slider-dot.svg') no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
  }

  .custom-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: url('../assets/slider-dot.svg') no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
  }
  